.contatosFooter {
    background-color: #005695;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;

    nav {
        
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.copyright {
    height: 8vh;
    color: #fff;
    background-color: #232323;
    display: flex;
    justify-content:center;
    align-items: center;
}