.primeiraSessaoInicio {
    
    height: 75vh;
    background-image: url('../../assets/VENHA\ FAZER\ PARTE\ DA\ MAIOR\ REDE\ DE\ DOAÇÃO\ \(1\)\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left:6% ;


    h2 {
        color: #FFF;
        font-size: 32px;
        width: 20%;
    }
}