.contatosFooter {
    background-color: #005695;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;

    nav {
        
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.copyright {
    height: 8vh;
    color: #fff;
    background-color: #232020;
    display: flex;
    justify-content:center;
    align-items: center;
}

@media (max-width: 780px) {
    .contatosFooter{
        flex-direction: column;
        
        nav {
            width: 60%;
        }
    }

    .copyright{
        font-size: 12px;

        p{
            width: 60%;
            text-align: center;
        }
    }
}